In [1]:
import pandas as pd

df2 = pd.read_csv(r"X:\Model Runs\2021\Data Preparation\07 TSD Data\TSD Extract.All Roads - RA07 .2020 Network Survey.2021-04-22.09-12.331903072.csv")
df2

,ROAD_NO,START_SLK,END_SLK,CWAY,START_TRUE,END_TRUE,DIRN,SURVEY_DATE,SURF_TEMPERATURE,AIR_TEMPERATURE,...,TD900,D0,D200,D300,D450,D600,D750,D900,D1200,D1500
0,H001,0.00,0.01,L,0.00,0.01,L,24/11/2020,27.1,26.8,...,0.00,179.37,85.45,54.42,36.20,29.97,24.58,19.95,12.67,7.58
1,H001,0.01,0.02,L,0.01,0.02,L,24/11/2020,26.8,26.8,...,0.00,177.12,87.78,57.24,39.05,32.35,26.56,21.57,13.73,8.24
2,H001,0.02,0.03,L,0.02,0.03,L,24/11/2020,26.6,26.8,...,0.00,179.06,106.43,77.13,57.67,47.94,39.49,32.20,20.67,12.52
3,H001,0.03,0.04,L,0.03,0.04,L,24/11/2020,26.9,26.8,...,0.00,212.65,136.51,105.03,80.71,67.23,55.50,45.36,29.26,17.83
4,H001,0.04,0.05,L,0.04,0.05,L,24/11/2020,26.7,26.8,...,1.20,175.35,108.98,79.54,56.44,45.72,37.65,30.81,19.97,12.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282820,M045,12.16,12.17,S,12.16,12.17,R,15/12/2020,26.6,20.2,...,17.50,444.11,254.79,185.56,127.66,97.89,81.28,68.32,47.16,30.92
282821,M045,12.17,12.18,S,12.17,12.18,R,15/12/2020,26.7,20.2,...,9.50,394.53,214.92,150.58,99.96,74.90,60.20,49.87,33.85,21.81
282822,M045,12.18,12.19,S,12.18,12.19,R,15/12/2020,26.9,20.2,...,7.00,355.79,184.35,122.29,73.90,50.79,38.56,31.28,20.83,13.16
282823,M045,12.19,12.20,S,12.19,12.20,R,15/12/2020,27.3,20.1,...,6.40,405.11,208.82,137.53,82.28,57.75,46.76,39.03,26.81,17.50
282824,M045,12.20,12.21,S,12.20,12.21,R,15/12/2020,27.5,20.1,...,7.27,454.49,238.20,159.78,99.99,72.68,58.67,48.74,33.20,21.47

In [2]:
colmap = {
    "ROAD_NO":"road",
    "START_SLK":"slk_from",
    "END_SLK":"slk_to",
    "CWAY":"cwy",
    "D0":"deflection",
    "DIRN":"dirn"
}

df2 = df2.loc[:,colmap.keys()].rename(columns=colmap)
df2

        road  slk_from  slk_to cwy  deflection dirn
0       H001      0.00    0.01   L      179.37    L
1       H001      0.01    0.02   L      177.12    L
2       H001      0.02    0.03   L      179.06    L
3       H001      0.03    0.04   L      212.65    L
4       H001      0.04    0.05   L      175.35    L
...      ...       ...     ...  ..         ...  ...
282820  M045     12.16   12.17   S      444.11    R
282821  M045     12.17   12.18   S      394.53    R
282822  M045     12.18   12.19   S      355.79    R
282823  M045     12.19   12.20   S      405.11    R
282824  M045     12.20   12.21   S      454.49    R

[282825 rows x 6 columns]

In [3]:
df2 = df2[
      (df2["road"] == "H001")
    & (df2["slk_to"]<100)
]
df2

       road  slk_from  slk_to cwy  deflection dirn
0      H001      0.00    0.01   L      179.37    L
1      H001      0.01    0.02   L      177.12    L
2      H001      0.02    0.03   L      179.06    L
3      H001      0.03    0.04   L      212.65    L
4      H001      0.04    0.05   L      175.35    L
...     ...       ...     ...  ..         ...  ...
17064  H001     36.04   36.05   S      217.21   R1
17065  H001     36.05   36.06   S      255.90   R1
17066  H001     36.06   36.07   S      311.99   R1
17067  H001     36.07   36.08   S      299.76   R1
17068  H001     36.08   36.09   S      252.60   R1

[17069 rows x 6 columns]

In [5]:
df2.to_csv("./df2.csv", index=False)